/* ExpenseList.css */
.expense-list {
  margin-top: 20px;
}

.expense-list h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.expense-list ul {
  list-style: none;
  padding: 0;
}

.expense-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.expense-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.expense-list li span {
  color: var(--text-color);
  font-size: 1rem;
}

.expense-list li button {
  background-color: #ff4444;
  color: var(--text-color);
  border: none;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.expense-list li button:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}